ul {
  margin: 0;
}

.slide-wrapper {
  overflow-x: hidden;
}

.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
.arrow-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}
:is(.prev, .next) {
  padding-inline: 12px;
  padding-block: 6px;
  border: none;
  background-color: #fb5;
  color: #222;
  font-weight: 500;
  border-radius: 6px;
}

:is(.prev, .next):hover {
  background-color: rgb(255, 164, 27);
}
